python-telegram-bot
psycopg2
#psycopg2cffi for pypy
requests
redis
gevent
# fast progress bar
tqdm
# process spawning
subprocess32
# huobi\poloniex\binance
websocket
# bittrex websocket subscription
signalr-client
